
.profile-images{
	width: 45px;
	height:37px;
	border-radius: 100%;
}
.profile-images1{
	width: 35px;
	height:35px;
	border-radius: 100%;
}
//profile card

.custom-dropdown{
margin-right: 5px;
}
.fix{
margin-top:3px;	
}
.btn-group{
margin-top:6px;		
}
.profile-btn{
  height: 38px;
  margin-top: 3px;	
}
.comment-images{
    width: 35px;
	height:35px;
	border-radius: 100%;	
}
.badge-notify{
	background: red;
    position: absolute;
	top: 20px;
    left: 29px;
}
.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 50px;
}
